@{
    ViewData["Title"] = "Kezdő Lap";
}

<div class="text-center">
    <h1 class="display-4">Üdvözöllek</h1><br> </br>
    <p>Tanulni a <a href="https://docs.microsoft.com/aspnet/core">webalkalmazások készítését ASP.NET Core segítségével</a>.</p>
</div>
